.app-body {
  background-color: aqua;
  width: fit-content;
  height: auto;
  background-image: url(./back.jpg);
}

.app-body h1 {
  width: 100%;
  text-align: center;
  font-family: cursive;
  color: seashell;
  font-size: 3rem;
}

.card {
  width: 26.8%;
  /* height: 90%; */
  background-image: linear-gradient(50deg, #ff1100, #ffee02);
  display: inline-block;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 5rem;
  overflow: hidden;
  font-size: 1.2rem;
}

.card:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

@media (max-width: 1000px) {
  .boxes {
    flex-wrap: wrap;
  }
}
